#projets {

    #project {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 80px 0 80px 0;
    
        >div {
            width: $col-3;
            padding: 0 20px;
            text-align: center;
            position: relative;

            > .clipart {
                width: 80%;
                margin: auto;
            }

            > .hoverClipart {
                visibility: hidden;
            }

            &:hover >.hoverClipart {
                position: absolute;
                visibility: visible;
                width: 80%;
                left: 10%;
                height: 100%;
                background-color: rgba(153, 153, 153, 0.13);
                z-index: 10;
                top: 0;

                >a {
                    width: 60px;
                    height: 60px;
                    background-image: $plus;
                    display: inline-block;
                    position: absolute;
                    top: 40%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    #descriptionProject {
        width: 100%;
        height: 100%;

        #presentation {
            h2{
                padding-bottom: 80px;
                padding-top: 40px;
            }
            >div {
                width: 80%;
                margin: auto;
            }
            margin-bottom: 40px;
        }

        #description {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            align-content: stretch;
            padding-bottom: 80px;

            >div {
                h3 {
                    padding: 10px 15px;
                }
    
                p{ 
                    padding: 5px 20px;
                }
                
                &:first-child {
                    width: $col-6;
                }
                &:nth-child(2){
                    box-sizing: border-box;
                    width: $col-6;
                    border-left: 1px solid rgba(99, 98, 98, 0.678);
                    div {
                        padding: 10px 15px;
                        span {
                            padding: 5px 10px;
                            background-color: rgba(126, 126, 126, 0.397);
                            margin: 5px;
                        }
                    }
                }
                &:last-child {
                    width: $col-12;
                    text-align: center;
                    padding: 30px 0;
                    a {
                        text-decoration: none;
                        color: white;
                        background-color: rgba(126, 126, 126, 0.397);
                        padding: 10px 20px;
                        border: 1px solid rgba(99, 98, 98, 0.678);
    
                        &:hover {
                            background-color: rgba(126, 126, 126, 0.514);
                        }
                    }
                }
            }
        }
    }

    #openOverlayDescriptionProject{
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.233);
        position: fixed;
        top: 0;
        z-index: 100;
    }
    

    #openDescriptionProject {
        height: 100%;
        width: 60%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 200;
        transform: translateX(0%);
        transition: transform .8s ease-out;
        overflow: auto;
    }

    #closeOverlayDescriptionProject{
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.233);
        position: fixed;
        top: 0;
        transform: translateX(-100%);
        transition: transform .8s ease-out;
        z-index: 100;
    }
    

    #closeDescriptionProject {
        height: 100%;
        width: 60%;
        position: fixed;
        top: 0;
        z-index: 200;
        transform: translateX(-100%);
        transition: transform 1s ease-out;
    }

    .close {
        height: 24px;
        width: 24px;
        background-image: $close;
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
}