#projets {

    #project {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    
        >div {
            width: $col-3;
            padding: 0 20px;
            text-align: center;
            position: relative;

            > div {
                visibility: hidden;
            }

            &:hover >div {
                position: absolute;
                visibility: visible;
                width: 100%;
                height: 100%;
                background-color: rgba(153, 153, 153, 0.13);
                z-index: 10;
                top: 0;

                >a {
                    width: 20%;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    transform: translateX(-50%);

                    img {
                        width: 100%;
                    }
                }
            }
            
            figure {
                width: 100%;
                
                >img {
                    width: 100%;
                    padding: 20px 0;
                }
            }
        }
    }
    #openOverlayDescriptionProject{
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.233);
        position: fixed;
        top: 0;
        z-index: 100;
    }
    

    #openDescriptionProject {
        height: 100%;
        width: 60%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 200;
        transform: translateX(0%);
        transition: transform .8s ease-out;
        overflow: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div {
            &:first-child {
                width: $col-12;
                >h2 {
                    padding: 30px 15px;
                }
                >figure {
                    width: 70%;
                    margin: auto;
                }
            }
            &:nth-child(2){
                width: $col-6;
            }
            &:nth-child(3){
                width: $col-6;
            }
            &:last-child {
                width: $col-12;
            }
        }
    }

    #closeOverlayDescriptionProject{
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.233);
        position: fixed;
        top: 0;
        transform: translateX(-100%);
        transition: transform .8s ease-out;
        z-index: 100;
    }
    

    #closeDescriptionProject {
        height: 100%;
        width: 60%;
        position: fixed;
        top: 0;
        z-index: 200;
        transform: translateX(-100%);
        transition: transform 1s ease-out;
    }
}