#skills {

    #competences {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    
        >figure {
            width: $col-2;
            text-align: center;
            >img {
                width: 60%;
                padding: 20px 0;
            }
        }
    }
}