#skills {

    #competences {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 40px 0 40px 0;
    
        >div {
            width: $col-2;
            margin-top: 40px;
            >div {
                width: 70%;
                margin: auto;
            }
        }
    }
}