$col-1: calc((100% / 12) * 1);
$col-2: calc((100% / 12) * 2);
$col-3: calc((100% / 12) * 3);
$col-4: calc((100% / 12) * 4);
$col-5: calc((100% / 12) * 5);
$col-6: calc((100% / 12) * 6);
$col-7: calc((100% / 12) * 7);
$col-8: calc((100% / 12) * 8);
$col-9: calc((100% / 12) * 9);
$col-10: calc((100% / 12) * 10);
$col-11: calc((100% / 12) * 11);
$col-12: calc((100% / 12) * 12);

$title: 'Finger Paint', cursive;
$text: 'Signika Negative', sans-serif;

$close: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="devfont devfont-x"><path d="M7 7l10 10"></path><path d="M17 7L7 17"></path></svg>');
$plus : url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="devfont devfont-circle-plus"><circle cx="12" cy="12" r="9"></circle><path d="M12 8v8"></path><path d="M8 12h8"></path></svg>')